[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Gallery
Exec=/usr/bin/glacier-gallery
Icon=/usr/share/glacier-gallery/images/icon-app-gallery.png
Name[ru]=Галерея
Name[cs]=Fotky